.item {
    color: black;
    /*padding-bottom: 30px;*/
    /*display: grid;*/
    /*grid-template-columns: 2fr 7fr 1fr ;*/

}
.item img {
    margin: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    vertical-align: middle;
}

.postText{
    font-size: 20px;
}

.likes {
    float: right;
}