.item {
    color: black;
}
.item img {
    margin-top: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    vertical-align: middle;
}

.postText{
    font-size: 20px;
    display: inline;
}

.likes {
    line-height:100px;
    float: right;
}