.header {
    grid-area: h;
    background-color: #231F20;
}
.header img {
    padding-left: 10px;
}
.login_block {
    padding: 15px;
    float: right;
    color: rgba(0, 255, 255, 0.5);
}
.link{
    border: 0;
    margin: 0;
    padding: 0;
    outline: none;
    background-color: transparent;
    text-decoration: none;
    font-size: 15px;
    font-weight:initial;
    color: aliceblue;


}
.link:hover{
    color: rgb(47,79,79);
}
