.nav{
    grid-area: n;
    background-color: aliceblue;
    padding-left: 10%;
    padding-top: 5%;
    font-weight: normal;
    font-size: 20px;
}
.nav a {
    text-decoration: none;
    color: black;
}
.nav a.active {
    color: black;
    text-shadow: 0 0 4px rgb(47,79,79);
    font-size: 25px;
}
.nav a:hover {
    text-shadow: 0 2px 2px rgb(47,79,79);
}