.nav{
    grid-area: n;
    background-color: aliceblue;
    padding-left: 10%;
    padding-top: 5%;
    font-weight: normal;
    font-size: 20px;

}
.nav a {
    text-decoration: none;
    color: black;
}
.nav a.active {
    active: gold;

}